@model Room
@{
    var urlOfThisRoom = Model.Url;
    var isOwner = Model.OwnerUserID == this.User.Identity.Name;
}
@section head {
    @Styles.Render("~/content/box-css")
}
@section headerLeft {
    <a href="/" class="go-home"></a>
    @if (isOwner)
    {
        <div id="settings-button"><i class="material-icons">menu</i></div>
    }
}
@section headerRight {
    @Html.Partial("_ShareBox", Model)
    <a href="#" id="lnk-tweet">t</a>
}

<div ng-app="theApp" class="room-page">

    <div id="box-container">
        <div id="box" ng-controller="roomController as ctrl" ng-class='{"has-title": ctrl.roomContext.title != ""}'>

            <div id="session-title">{{ctrl.roomContext.title}}</div>

            <div id="score-box" ng-class="'dis-coin '+ (ctrl.roomContext.allowDisCoin ? 'allow' : 'deny')">
                <div class="count-of-coin like">
                    <span ng-bind="ctrl.roomContext.countOfLike | number"></span> Yen
                </div>
                <div class="count-of-coin dis">
                    <span ng-bind="ctrl.roomContext.countOfDis | number"></span> Dis
                </div>
            </div>

            <canvas id="canvas" width="800" height="540"></canvas>
        </div>
    </div>

    <div id="settings-container" ng-controller="settingsMenuController as ctrl" ng-class='{"visible": ctrl.visible}'>
        <div id="settings-content">
            <div class="menu-item">
                <label for="session-title">@Localize.SessionTitle</label>
                <input type="text" id="session-title" ng-model="ctrl.roomContext.title" />
            </div>
            <div class="menu-item">
                <label for="twitterHashtag">@Localize.TwitterHashtag #</label>
                <input type="text" id="twitterHashtag" ng-model="ctrl.roomContext.twitterHashtag" />
            </div>
            <div class="menu-item">
                <label for="allowDisCoin">
                    <input type="checkbox" id="allowDisCoin" ng-model="ctrl.roomContext.allowDisCoin" />
                    @Localize.AllowDisCoin
                </label>
            </div>
            <div class="menu-item">
                <button id="reset-room" ng-click="ctrl.resetRoom()">@Localize.ResetRoom</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Html.Partial("_AppInfoJS", Model)
    <script>
        var _app = _app || {};
        _app.localize = _app.localize || {};
        _app.localize.IfYouLeaveThisPageYouLostCoinsImage = '@Localize.IfYouLeaveThisPageYouLostCoinsImage';
        _app.localize.ConfirmResetRoom = '@Localize.ConfirmResetRoom';
    </script>
    @Scripts.Render("~/bundles/box-js")
}