@model Room
@{
    var urlOfThisRoom = Model.Url;
    var isOwner = Model.OwnerUserID == this.User.Identity.Name;
}
@section head {
    @Styles.Render("~/content/box-css")
}
@section headerLeft {
    <a href="/" class="go-home"></a>
    @if (isOwner)
    {
        <a href="@Url.RouteUrl("Room", new { id = Model.RoomNumber, action = "Settings" })" id="lnk-settings" class="go-settings"></a>
    }
}
@section headerRight {
    @Html.Partial("_ShareBox", Model)
}

<div ng-app="theApp" class="room-page">

    <div id="box" ng-controller="roomController as ctrl">

        <div id="score-box" ng-class="'dis-coin '+ (allowDisCoin ? 'allow' : 'deny')">
            <div class="count-of-coin like">
                <span ng-bind="countOfLike|number"></span> Yen
            </div>
            <div class="count-of-coin dis">
                <span ng-bind="countOfDis|number"></span> Dis
            </div>
        </div>

        <canvas id="canvas" width="800" height="540"></canvas>
    </div>

    <div id="settings-dialog" ng-controller="settingsController as ctrl">
        <form class="form">
            @Html.AntiForgeryToken()
            <h2>Settings</h2>
            <div class="field-container">
                <label for="twitterHashtag">Twitter Hashtag #</label>
                <input type="text" name="twitterHashtag" id="twitterHashtag" ng-model="twitterHashtag" autofocus />
            </div>
            <div class="field-container">
                <label for="allowDisCoin">
                    <input type="checkbox" name="allowDisCoin" id="allowDisCoin" value="true" ng-model="allowDisCoin" />
                    <input type="hidden" name="allowDisCoin" value="false" />
                    Allow "Dis" coin
                </label>
            </div>
            <div class="buttons">
                <input type="button" value="OK" class="btn btn-primary" ng-click="ctrl.OK()" />
                <input type="button" value="Cancel" class="btn btn-default" ng-click="ctrl.Cancel()" />
            </div>
        </form>
    </div>
</div>

@section scripts{
    @Html.Partial("_AppInfoJS", Model)
    <script src="~/Views/Default/Box.js"></script>
    <script src="~/Scripts/sharebox.js"></script>
}