<div class="home-page">
    @*<div>
            @QRCode.Render(Url.AppUrl(), scale: 10, cssClass: "qr-code")
        </div>*@

    <div class="app-description">
        @Localize.appDescription
    </div>

    <div ng-app="app" ng-controller="indexController as ctrl">
        <p>
            @Localize.EnterRoomNumber
        </p>
        <p>
            <input type="number" value="" autofocus required class="room-number" ng-model="roomNumber" />
        </p>
        <p>
            <a ng-href="/Room/{{roomNumber}}" ng-class="'btn btn-primary ' + (roomNumber.toString().length != 4 ? 'disabled' : '')">
                @Localize.Enter
            </a>
        </p>
    </div>

    <p>
        <a href="@Url.Action("CreateNewRoom")">@Localize.OrCreateNewRoom</a>
    </p>
</div>

@section scripts{
    <script>
        $(function () { $.get('/WarmUp', { _: $.now() }); });
    </script>
    <script src="~/Views/Default/Index.js"></script>
}