@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var reCAPTCHA_SiteKey = Configuration.GetValue(key: "reCAPTCHA:SiteKey", defaultValue: "");
}
@section head {
    <link href="~/styles/index.min.css" rel="stylesheet" />
}
<div class="home-page">

    <div class="main-form-container">
        <div class="main-form">
            <div class="app-description">
                @Localize.appDescription
            </div>

            <div>
                <p>
                    @Localize.EnterRoomNumber
                </p>
                <p>
                    <input type="number" value="" autofocus required class="room-number" id="room-number-input" />
                </p>
                <p>
                    <a class="btn btn-primary disabled" id="enter-button">
                        @Localize.Enter
                    </a>
                </p>
            </div>

            <p>
                <div>
                    <a id="create-newroom-button">@Localize.OrCreateNewRoom</a>
                </div>
                <div class="warning-of-expiration">
                    @Localize.TheRoomWillExpireAfter7days
                </div>
            </p>
        </div>
    </div>
    <partial name="Index_Footer" />
</div>

@section scripts {
    @if (!reCAPTCHA_SiteKey.IsNullOrEmpty())
    {
        <script id="grecaptcha" src="https://www.google.com/recaptcha/api.js?render=@reCAPTCHA_SiteKey" data-sitekey="@reCAPTCHA_SiteKey"></script>
    }
    <script src="~/scripts/index.min.js"></script>
}
